{% extends "base.html" %}
{% block content %}
{% load static %}


<div>
  <!-- Page Content -->
      <div class="container">
        <div class="row">
            <div class="col-lg-12 center">
                <h1 class="page-header">What We Do
                </h1> </div>
            <div class="col-lg-12 left">
                <p>QuickCanvass is a tool for Princeton students who are organizing campaigns for student government or constitutional amendments. </p>
                <p>We can help you...</p>
                <ul>
                  <li>Learn which constituants are near your geographical location for canvassing on the go.</li>
                  <li>Learn which students are actually part of your election - no more knocking on Junior's doors when running for freshman council.</li>
                  <li>Keep track of which students already support you, which don't, and which can be purswaded via the data your team collects</li>
                  <li>Preserve this data across multiple campaigns in multiple years</li>
                  <li>Collaborate with your volunteers by giving them scripts and questions to ask the people they canvass</li>
                  <li>Ensures that you and your volunteers don't knock the same area twice (unless you want to)</li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="col-lg-12 left">
              <h2 class="page-header">Our Team</h2>
            </div>

            <div class="col-lg-6 col-sm-6 text-center">
                <center>
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Jessica Ji
                    <small>Our President</small>
                </h3>
                <p>Jessica works mainly on back-end and keeping the rest of us on task.</p>
                <p><a href="mailto:jmj5@princeton.edu">jmj5@princeton.edu</a></p>
              </center>
            </div>
            
            <div class="col-lg-6 col-sm-6 text-center">
              <center>
                <img class="img-circle img-responsive img-center" src="{% static 'images/GraceProfile.jpg' %}" alt="">
                <h3>Grace Turner
                    <small>Front-End Specialist</small>
                </h3>
                <p>Grace works on making the UI experience as smooth and as beautiful as possible.</p>
                <p><a href="mailto:gracekt@princeton.edu">gracekt@princeton.edu</a></p>

              </center>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
              <center>
                <img class="img-circle img-responsive img-center" src="{% static 'images/SamProfile.jpg' %}" alt="">
                <h3>Samuel Russell
                    <small>Database Specialist</small>
                </h3>
                <p>Sam enjoys troubleshooting and making the database queryable.</p>
                <p><a href="mailto:samueljr@princeton.edu">samueljr@princeton.edu</a></p>
              </center>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
              <center>
                <img class="img-circle img-responsive img-center profile-img" src="{% static 'images/LuisaProfile.jpg' %}" alt="">
                <h3>Luisa Goytia
                    <small>Full-stack Programmer</small>
                </h3>
                <p>Luisa works both front-end and back-end, depending on the problems of the week.</p>
                <p>lgoytia@princeton.edu</p>

              </center>
            </div>
        </div>

</div>


<!-- <footer class="container-fluid text-center">
  <p>Sign Up!</p>
</footer> -->

{% endblock %}