{% extends "base.html" %}
{% block content %}


<div class="col-lg-12 center">
      <h2 class="page-header top-header">Survey for: {{title}}</h2>

<div class = "row clean-box edit clean-submit">
  	<form role = "form" action = "" method = "post">
       	Question 1: <input type="text" name="question1"><br>
       	Question 2: <input type="text" name="question2"><br>
       	Comments:<br>
       		<textarea rows="5" cols="30"/>
       		
        <div class = "row">
        	<a href = {{username}} class="btn ss-button small-width button1" >Cancel</a>
        </div>
  		<input type = "submit" class="btn ss-button small-width button2" value ="Submit"/>

	</form>
</div>
</div>


{% endblock %}