{% extends "base.html" %}
{% block content %}

<style>
	.labels{
		text-align: left;
	}

	.formBody{
		margin-top: -6vw;
		margin-left: -5vw;
		margin-right:-5vw;
	}

	.button1{
		margin-top: 4vw;
    	width: 39%;
	}

	.button2{
		width: 40%; 
	}

</style>

<br>
<div class="col-lg-12 center">
      <h5 class= "text-center login-title-2 edit header-top">Survey for: {{title}}</h5>

<div class = "row clean-box edit clean-submit">
  	<form role = "form" action = "" method = "post">
<!--        	<div class="form-group labels formBody">
  	  		<label for="inputdefault">First Question:</label>
  	  		<input class="form-control" id="firstQ" type="text" placeholder="Type your first question here"><br>
  	  		<label for="inputdefault">Second Question:</label>
  	  		<input class="form-control" id="secondQ" type="text" placeholder="Type your second question here"><br>
  	  		<label for="inputdefault">Third Question:</label>
  	  		<input class="form-control" id="thirdQ" type="text" placeholder="Type your third question here"><br>
  	  		<label for="inputdefault">Fourth Question:</label>
  	  		<input class="form-control" id="fourthQ" type="text" placeholder="Type your fourth question here">
  	  		<br><br>
 	 	</div> -->
		{% csrf_token %}
    	{{ form}}
        <div class = "row">
        	<a href = "/managerdash/{{username}}" class="btn ss-button small-width button1" >Cancel</a>
        </div>
  		<input type = "submit" class="btn ss-button small-width button2" value ="Submit"/>
	</form>
</div>
<br><br><br><br>
</div>


{% endblock %}
