{% extends "base.html" %}
{% block content %}
<script>
$(document).ready(function() {
  $("#login-btn").click(function(){
  console.log("test");
  $.ajax({
      url: "/login_verification/",
      context: document.body,
      "data": {
        "email": $("#email").val(),
        "passw": $("#passw").val(),
      },
      type: 'POST',
      success: function(res){
        //change to dashboard later
        window.location = '/login';
      },
      error: function(){
          console.log("error");
      }
  });
})
});
</script>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class = "text-center login-title" href="">QuickCanvass!</h1>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                  alt="">
                <form class="form-signin">
                    <input type="text" class="form-control" id="email" placeholder="Email" required autofocus>
                    <input type="password" class="form-control" id="passw" placeholder="Password" required>
                    <div>
                        <a class="button-submit" id="login-btn">Login</a>
                    </div>
                    <div>
                        <a href="http://google.com" class="text-left button-help signup">sign up! </a>
                        <a href="http://google.com" class="text-right button-help">forgot your password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
