{% extends "base.html" %}
{% block content %}


<div class="col-lg-12 center">
      <h2 class="page-header top-header">Your Current Campaign: {{title}}</h2>
      <h5>Your Campaign Code: {{campaign_code}}</h5>
    </div>

<div class="row">
  <div class="col-sm-4 col-sm-offset-1">
    <h3 class = "page-header small-show"> Options </h3>
    <div class = "row">
      <a href = {{campurl}} class = 'button btn ss-button top-button'>Edit Campaign</a>
      <br><br>
      <a href = {{survurl}} class = 'button btn ss-button'>Manage Survey</a>
    </div>
   <!--
    <div class = "row"><button class=" btn ss-button" >Download Results</button></div> -->
  </div>



  <div class="col-sm-4 col-sm-offset-2">
    <h3 class = "page-header">Volunteers</h3>
    <div class = "row clean-box manager">
      {%for name in volunteers%}
      <div class="row page-header" style = "margin-top: 5%">{{ name }}</div>
      {% endfor %}
</div>


</div>










{% endblock %}
