{% extends "base.html" %}
{% block content %}
{% load static %}

<style>

  .getStarted{
    margin-top: 1vw;
  }

</style>

<script>
$(document).ready(function() {
  $("#make-account").click(function(){
  console.log("test");
  $.ajax({
      url: "/create-new-account",
      context: document.body,
      "data": {
        "email": $("#email").val(),
        "passw": $("#pass").val(),
        "isdirector": $("#director").is(':checked'),
      },
      type: 'POST',
      success: function(res){
        //change to dashboard later
        if(res['error'] == 'netid already exists'){
          $("#doubleid").css("display", "block");
        }
        else{
          window.location = res['url'];
        }
      },
      error: function(){
          console.log("error");
      }
  });
})
});
</script>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center login-title">QuickCanvass Signup</h1>
      <div class="account-wall">
        <img class="profile-img" src="{% static 'images/user_im.jpg' %}" alt="">
        <form class="form-signin">
          <input type="text" class="form-control" placeholder="NetId" id="email" required autofocus>
          <input type="password" class="form-control" placeholder="Password" id="pass" required>
          <div class="form-signup-radio">
            <input type="radio" class="btn" name="director-or-volunteer" id="director" value="director" checked="checked"> <span>I'm setting up my campaign</span><br>
            <input type="radio" class="btn" name="director-or-volunteer" value="volunteer"> <span>I'm volunteering for a campaign</span><br>
          </div>
          <div class="alert alert-danger alert-dismissable warningBox secret-alert" id='doubleid'
              <strong>An account with this netid already exists.</strong>
          </div>
          <div>
            <a class="button-submit btn getStarted" id="make-account">Get Started!</a>
          </div>
            <a href="/login" class="text-left button-help btn signup">I've already got an account! </a>
          </div>

        </form>
      </div>
    </div>
</div>
{% endblock %}
