{% extends "base.html" %}
{% block content %}
<container>
  <div class="col-lg-12 center">
        <h2 class="page-header">Canvass It!</h2>
      </div>
<div class="container-fluid text-center">
  <div class="row content">
    <div class="container">
      <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" placeholder="Find Closest Rooms..." />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
      </div>
          <p style = "margin-top: 10px">Thank you for helping CAMPAIGN NAME HERE.</p>
    </div>
</div>
  </div>
</div>
{% endblock %}
