{% extends "base.html" %}
{% block content %}
{% load static %}

<style>

  @media screen and (max-width: 767px) {

    .firstpage{
      background: url("{% static 'images/background.jpg' %}") no-repeat center center;
      width:100%;
      overflow: hidden;

    }

    .grayPage{
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
    }

    .title{
      font-size: 7vw;
      margin-top: 8vw;
      color:white;
      text-shadow: #000 5px 2px 6px;

    }

    .logo{
      width: 32vw;
      height: 22vw;
      display: block;
      margin-left: 36vw;
      margin-top: -2vw;
    }

    .descr{
      color:white;
      border-left: 2.4vw;
      border-right: 2.4vw;
      font-size: 2.6vw;
      text-shadow: #000 -2px 2px 2px;
    }



    .descr2{
      list-style-type: none;
      text-align: left;
      padding-left: 0px;
      /*margin-left: 2.2vw;
      margin-right: 2.2vw;
      font-size: 2.5vw;
      padding-bottom: 2vw;*/
    }

    .button1{
      margin-top: 8vw;
      margin-bottom: -1vw;
      background-color: #5bc0de;
      width: 45%;
      table-layout: fixed;
      color: white;
      font-weight: normal;
    }

    .button2{
      background-color: #5bc0de;
      width: 45%;
      table-layout: fixed;
      color: white;
      font-weight: normal;
      margin-bottom: 12vw;
    }

    .names{
      color: #e2dcdc;
    }

    .email{
      color: #75dccf;
    }
  }
.less {
  font-weight: normal;
}
.less1 {
  font-weight: normal;
  color: gray;

}
.myList{ list-style-type: none;}
  @media screen and (min-width: 767px) {

    .firstpage{
      background: url("{% static 'images/background.jpg' %}") no-repeat center center;
      width: 100%;
      position: relative;
      overflow: hidden;

     /* background-color:black;
      z-index:10;
      opacity: 0.7;*/
    }

    .grayPage{
      background-color:rgba(1,1,1,0.93);
      width: 100%;
    }

    .title{
      font-size: 7vw;
      margin-top: 3vw;
      color:white;

      text-shadow: #000 8px 2px 9px;
    }

    .logo{
      width: 26vw;
      height: 16vw;
      display: block;
      margin-left: 37vw;
      margin-top: -1vw;
    }

    .descr{
      color:white;
      border-left: 8vw;
      border-right: 8vw;
      font-size: 1.5vw;

      text-shadow: #000 -2px 1px 2px;

    }

   /* .dark{
      background-color:black;
      z-index:0;
      opacity:0.6;
      width:100%;
    }*/

    .descr2{
      list-style-type: none;
      border-left: 2.4vw;
      border-right: 2.4vw;
      font-size: 1vw;
      padding-bottom: 2vw;
      text-align: left;
    }

    .button1{
      margin-top: 5vw;
      background-color: #5bc0de;
      width: 40%;
      table-layout: fixed;
      color: white;
      font-size: 1.8vw;
      margin-bottom: 2px;
    }

    .button2{
      background-color: #5bc0de;
      width: 40%;
      table-layout: fixed;
      color: white;
      font-size: 1.8vw;
      margin-bottom: 4vw;
    }

    .names{
      color: #e2dcdc;
    }

    .email{
      color: #75dccf;
    }
  }

</style>


<body>
  <!--First part-->
  <div class="container">
      <div class="col-lg-12">
        <h2 class=" less small-show">FAQ</h2>
        <h2 class="page-header less small-show">Campaign Managers</h2>
        <h2 class="page-header less small-hid">Frequently Asked Questions: Campaign Managers</h2>
        {% if isd == 1 %}

        <ul class="descr2">
          <li>
            <h3 class= "less">How do I add volunteers to my campaign?</h3>
            <h5 class = "less1">Give them your 8 digit campaign code (see the number underneath the title of your campaign in your <a href='/managerdash/{{netid}}'> Manager Dashboard</a>), and tell them to enter it on their <a href='/volunteerdash/{{netid}}'>Volunteer for Campaigns page</a>.</h5>
          </li>
          <li>
            <h3 class= "less">How do I make minor changes to my survey?</h3>
            <h5 class = "less1">On your <a href='/managerdash/{{netid}}'>Manager Dashboard</a> page, click the blue "Edit Current Survey" button.</h5>
          </li>
          <li>
            <h3 class= "less">How do I make major changes to my survey?</h3>
            <h5 class = "less1">On your <a href='/managerdash/{{netid}}'>Manager Dashboard</a> page, click the blue "Start a New Survey" button.  This will download your data, clear survey responses, and allow you to choose new survey questions.</h5>
          </li>
          <li>
            <h3 class= "less">How do I tell if my change is minor or major?</h3>
            <h5 class = "less1">If it's a typo or changing the script, it's minor.  If you're fundamentally changing a survey question, it's probably major.  A major change is one that would require canvassing students again.</h5>
          </li>
          <li>
            <h3 class= "less">How do I download my survey data?</h3>
            <h5 class = "less1">On your <a href='/managerdash/{{netid}}'>Manager Dashboard</a> page, click the blue "Download Survey Data" button.</h5>
          </li>
          <li>
            <h3 class= "less">Can I volunteer for my own campaign?</h3>
            <h5 class = "less1">Yep - check out the "Campaign Volunteers" section of this page.</h5>
          </li>
          <li>
            <h3 class= "less">I only want to Read a Script, not ask questions?</h3>
            <h5 class = "less1">No problem, just click "Edit Current Survey" and remove each question.</h5>
          </li>
        </ul>
        {% endif %}
        <h2 class="page-header less small-show">Campaign Volunteers</h2>
        <h2 class="page-header less small-hid">Frequently Asked Questions: Campaign Volunteers</h2>
        <ul class="descr2">
          <li>
            <h3 class= "less">How do I join a campaign?</h3>
            <h5 class = "less1">Ask the person in charge of the campaign for your 8-digit campaign code, and then enter that where it tells you to "type in your campaign key" on your <a href='/volunteerdash/{{netid}}'>Volunteer Dashboard</a>.</h5>
          </li>
          <li>
            <h3 class= "less">How do I see what campaigns I'm a volunteer for?</h3>
            <h5 class = "less1">Look at the list under "Your Current Campaigns" on your <a href='/volunteerdash/{{netid}}'>Volunteer Dashboard</a>.</h5>
          </li>
          <li><h3 class= "less">How do I canvass for my campaign?</h3>
            <h5 class = "less1">Click on the campaign you want to canvass for on your <a href='/volunteerdash/{{netid}}'>Volunteer Dashboard</a>.  Arrange the search paramaters to your desire, and then click "Find Students!".  This will show you the students who meet the critera you've selected.
            </h5> <h5 class = "less1"> To record data on any of these students, click the "Canvass" button on the right hand side of the table.  This will show you a screen with the script made by the owner of the campaign, as well as any questions that the owner wanted you to ask the student.  Once you've talked to the student, record their answers and then hit Submit (or Cancel if they weren't home).</h5></li>
          <li>
            <h3 class= "less">I haven't searched for anything yet but there are students listed on the Canvass It page?</h3>
            <h5 class = "less1">For your convenience, the table will automatically be populated according to your last search - feel free to search again though.</h5>
          </li>
          <li>
            <h3 class= "less">Which students will be shown when I click the "Find Students!" button?</h3>
            <h5 class = "less1">Undergraduate students meeting the criteria you've selected who have not been canvassed yet by your campaign.</h5>
          </li>
          <li>
            <h3 class= "less">Should I be signed up as a manager or a volunteer?</h3>
            <h5 class = "less1">If you want to be able to direct the campaign or organize volunteers, sign up as a manager.  Usually, this will be either the candidate or the actual campaign manager for the candidate.  If you're here to knock on some doors for your friend, you're a volunteer.  Mangers are able to join other campaigns and knock on doors for their campaign.</h5>
          </li>
          <li>
            <h3 class= "less">I signed up as a volunteer but I should have signed up as a manger?</h3>
            <h5 class = "less1">Click "Initiate a New Campaign" and get started!</h5>
          </li>
        </ul>
      </div>
  </div>

  <!--Second part-->
  <div class="container grayPage">
      <div class="col-lg-12 center">
        <h1 style="color: white" class="page-header">Our Team</h1>
      </div>

      <!--Jessica-->
      <div class="col-lg-6 col-sm-6 text-center">
        <center>
        <br><br><br>
        <img class="img-circle img-responsive img-center" src="{% static 'images/JessicaProfile.jpg' %}" alt="">
        <h3 class="names">Jessica Ji
            <small>Our President</small>
        </h3>
        <p style="color: #ada4a4">Jessica works mainly on back-end and keeping the rest of us on task.</p>
        <p><a class="email" href="mailto:jmj5@princeton.edu">jmj5@princeton.edu</a></p>
        </center>
      </div>

      <!--Grace-->
      <div class="col-lg-6 col-sm-6 text-center">
        <center>
        <br><br><br>
        <img class="img-circle img-responsive img-center" src="{% static 'images/GraceProfile.jpg' %}" alt="">
        <h3 class="names">Grace Turner
          <small>Front-End Specialist</small>
        </h3>
        <p style="color: #ada4a4">Grace works on making the UI experience as smooth and as beautiful as possible.</p>
        <p><a class="email" href="mailto:gracekt@princeton.edu">gracekt@princeton.edu</a></p>
      </center>
      </div>

      <!--Sam-->
      <div class="col-lg-6 col-sm-6 text-center">
        <center>
        <br><br><br>
        <img class="img-circle img-responsive img-center" src="{% static 'images/SamProfile.jpg' %}" alt="">
        <h3 class="names">Samuel Russell
            <small>Database Specialist</small>
        </h3>
        <p style="color: #ada4a4">Sam enjoys troubleshooting and making the database queryable.</p>
        <p><a class="email" href="mailto:samueljr@princeton.edu">samueljr@princeton.edu</a></p>
        </center>
      </div>

      <!--Luisa-->
      <div class="col-lg-6 col-sm-6 text-center">
        <center>
        <br><br><br>
          <img class="img-circle img-responsive img-center" src="{% static 'images/LuisaProfile.jpg' %}" alt="">
          <h3 class="names">Luisa Goytia
              <small>Full-stack Programmer</small>
          </h3>
          <p style="color: #ada4a4">Luisa works both front-end and back-end, depending on the problems of the week.</p>
          <p><a class="email" href="mailto:lgoytia@princeton.edu">lgoytia@princeton.edu</a></p>

        </center>
        <br><br>
      </div>
  </div>


</body>

{% endblock %}
