{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>QuickCanvass</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"><img class="img-circle img-responsive img-center" src="{% static 'images/logo_small.png' %}" alt=""></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        {% if only_link_to_home %}
          <li><a href="/">Home</a></li>
        {% else %}
          {% if is_volunteerdash %}
          <li><a href="/volunteerdash/{{netid}}" style='color: white;'>Volunteer for Campaigns</a></li>
          {% else %}
          <li><a href="/volunteerdash/{{netid}}">Volunteer for Campaigns</a></li>
          {% endif %}

          {% if isd == 1 %}
            {% if is_managerdash %}
              <li><a href="/managerdash/{{netid}}" style='color: white;'>Manage Campaign</a></li>
            {% else %}
              <li><a href="/managerdash/{{netid}}">Manage Campaign</a></li>
            {% endif %}
          {% elif isd == 0 %}
          <li><a href="/promote-to-manager/{{netid}}">Initiate a New Campaign</a></li>
          {% endif %}

          {% if is_about %}
          <li><a href="/about" style='color: white;'>FAQ</a></li>
          {% else %}
          <li><a href="/about">FAQ</a></li>
          {% endif %}
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
{% block content %}
{% endblock content %}
</body>
</html>
