{% extends "base.html" %}
{% block content %}

<style>

@media screen and (min-width: 767px) {
	.cancel{
		margin-top: 6%;
		width: 60%;
		margin-bottom: 10px;
	}

	.submit{
		width:62%;
	}
}

@media screen and (max-width: 767px) {
	.cancel{
		margin-top: 4%;
		width: 44.5%;
		margin-bottom: 10px;
	}

	.submit{
		width:50%;
	}
}

</style>

<div class="col-lg-12 center">
    <h5 class= "text-center login-title-2 edit header-top">{{title}}</h5>
	<div class = "row clean-box edit clean-submit">
	  	<form role = "form" action = "" method = "post">
	    {% csrf_token %}
			<div class = "row form-style padding">
				{{form.title.label}}:</div>
			<div class = "row">
			{{form.title}}</div>
			<div class = "row form-style padding">
				{{form.targeted_years.label}}:</div>
			<div class = "row">
			{{form.targeted_years}}</div>
			<div class = "row form-style padding">
				{{form.description.label}}:</div>
			<div class = "row">
			{{form.description}}</div>
			<div class = "row form-style padding">
				{{form.contact.label}}:</div>
			<div class = "row">
			{{form.contact}}</div>
	        <div class = "row">
	          	{% if eliminate_cancel == None %}
	        		<a href = "/managerdash/{{netid}}"  class="btn ss-button button cancel" >Cancel</a>
	          	{% endif %}
	        </div>
	  		<input type = "submit" class="btn ss-button button submit" value ="Submit"/>
		</form>
	</div>
</div>
{% endblock %}
