{% extends "base.html" %}
{% block content %}

<style>
  
  @media screen and (max-width: 767px) {
    .button1{
      width: 110px;
      font-size: 12px;
    }

    .button2{
      width: 110px;
      font-size: 12px;
    }

    .verticalLine {
      width: 1px; /* Line width */
      background-color: black; /* Line color */
      height: 100%; /* Override in-line if you want specific height. */
      float: ;
    }

    .info{
      margin-top: -1%;
      margin-bottom: 2%;
    }
  }

   @media screen and (min-width: 767px) {
    .button1{
      width: 300px;
    }

    .button2{
      width: 300px;
    }

    .info{
      margin-top: -1%;
      margin-bottom: 2%
    }

    .vertical{
      width: 1px; /* Line width */
      height: 60px; /* Override in-line if you want specific height. */
      background-color: gray;
    }

    .text{
      padding-left: 20px;
    }

    .q{

    }
   }
</style>

<br>
<div class="col-lg-12 ">
  <h5 class= "text-center login-title edit header-top">Canvassing for: {{title}}</h5>

  <div class = "row clean-box edit clean-submit">
    <form role = "form" action = "" method = "post">
      
      <div class="row info">
        <div class="col-sm-2 col-sm-offset-1 ">
          <div class = "row vertical">
            <div class="text">Dorm Information</div>
          </div>
        </div>

        <div class="col-sm-2 col-sm-offset-1">
          <div class = "row vertical">
            <div class="text">First, last name</div>
          </div>
        </div>

        <div class="col-sm-2 col-sm-offset-1">
          <div class = "row vertical">
            <div class="text">Major Information</div>
          </div>
        </div>

        <div class="col-sm-2 col-sm-offset-1">
          <div class = "row vertical">
            <div class="text">Graduation Year</div>
          </div>
        </div>
      </div>

      <br><br><br>
      <div class="row">
        <div class="col-sm-2 col-sm-offset-1 ">
          <div class = "row ">
            <div class="q">First Question here</div>
          </div>
        </div>

        <form>
          <div class="form-group col-sm-8 col-sm-offset-1 right">
            <input class="form-control input-lg" id="answer" type="text">
          </div>
        </form>
      </div>

      <br>
      <div class="row">
        <div class="col-sm-2 col-sm-offset-1 ">
          <div class = "row ">
            <div class="q">Second Question here</div>
          </div>
        </div>

        <form>
          <div class="form-group col-sm-8 col-sm-offset-1 right">
            <input class="form-control input-lg" id="answer" type="text">
          </div>
        </form>
      </div>
      
      <br>
      <div class="row">
        <div class="col-sm-2 col-sm-offset-1 ">
          <div class = "row ">
            <div class="q">Third Question here</div>
          </div>
        </div>

        <form>
          <div class="form-group col-sm-8 col-sm-offset-1 right">
            <input class="form-control input-lg" id="answer" type="text">
          </div>
        </form>
      </div>

      <br><br><br>


      <div class = "row">
        <a href = {{username}} class="btn ss-button small-width button1" >Cancel</a>
      </div>
      <input type = "submit" class="btn ss-button small-width button2" value ="Submit"/>

    </form>
  </div><br><br>

</div>




{% endblock %}
