{% extends "base.html" %}
{% block content %}

<script>
$(document).ready(function() {
    //function to export to csv
    //Function from user Xavier John at http://stackoverflow.com/a/24922761/3238611
    function exportToCsv(filename, rows) {
        var processRow = function (row) {
            var finalVal = '';
            for (var j = 0; j < row.length; j++) {
                var innerValue = row[j] === null ? '' : row[j].toString();
                if (row[j] instanceof Date) {
                    innerValue = row[j].toLocaleString();
                };
                var result = innerValue.replace(/"/g, '""');
                if (result.search(/("|,|\n)/g) >= 0)
                    result = '"' + result + '"';
                if (j > 0)
                    finalVal += ',';
                finalVal += result;
            }
            return finalVal + '\n';
        };

        var csvFile = '';
        for (var i = 0; i < rows.length; i++) {
            csvFile += processRow(rows[i]);
        }

        var blob = new Blob([csvFile], { type: 'text/csv;charset=utf-8;' });
        if (navigator.msSaveBlob) { // IE 10+
            navigator.msSaveBlob(blob, filename);
        } else {
            var link = document.createElement("a");
            if (link.download !== undefined) { // feature detection
                // Browsers that support HTML5 download attribute
                var url = URL.createObjectURL(blob);
                link.setAttribute("href", url);
                link.setAttribute("download", filename);
                link.style.visibility = 'hidden';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            }
        }
    }

    $("#download_survey_data_btn").click(function(){
    $.ajax({
        url: "/download_survey_data/",
        context: document.body,
        type: 'POST',
        success: function(res){
           exportToCsv("survey_data.csv", res[0])
        },
        error: function(){
            console.log("error");
        }
      });
    });

    $("#start_new_survey_btn").click(function(){
      $.ajax({
          url: "/download_survey_data/",
          context: document.body,
          type: 'POST',
          success: function(res){
            if (res[1]){
              exportToCsv("survey_data.csv", res[0]);
            }
          },
          error: function(){
            console.log("error");
          }
      });
    });

    $("#add-volunteer-btn").click(function(){
        $.ajax({
            url: "/add-volunteer-to-campaign/",
            context: document.body,
            "data": {
                "username": $("#username-input").val(),
            },
            type: 'POST',
            success: function(res){
                if (res['error']){
                    $("#badname-text").text(res['error']);
                    $("#badname").css("display", "block");
                }
                else{
                  window.location.reload()
                }
            },
            error: function(){
                console.log("error adding volunteer to campaign");
            }
        });
    });


    $("#username-input").on('change keyup paste', function(){
      $("#badname").css("display", "none");
    });

    var top_name = $(".volunteer-name-list")[0];
    $(top_name).css('border-top', '1px solid #eee');
    $(top_name).css('padding-top', '10px');
});
</script>

<div class="col-lg-12 center">
      <h2 class="page-header" style= "margin-top: 30px;">{{title}}</h2>
      <h5>Campaign Code: {{campaign_code}}</h5>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3 first-thing">
    <h3 class = "page-header small-show"> Options </h3>
    <div class = "row">
      <a href = "/editcampaign/{{netid}}" class = 'button btn ss-button top-button'>Edit Campaign</a>
      <br><br>
      <a href = "/editsurvey/{{netid}}/current/" class = 'button btn ss-button'>Edit Current Survey</a>
      <br><br>
      <div id="hide-on-phone">
        <a class = 'button btn ss-button' id="download_survey_data_btn">Download Survey Data</a>
        <br><br>
        <a href = "/clear_survey_data" class = 'button btn ss-button' id = 'start_new_survey_btn'>Start a New Survey</a>
      </div>
      <div id="show-on-phone">
        <p>Download results on our desktop site!</p>
      </div>
    </div>
  </div>


  <div class="col-md-4 sec-thing">
    <h3 class = "page-header">Campaign Progress</h3>
    <div class = "row clean-box-centered-content manager">
      <table>
        <tr>
          <th> Residential College </th>
          <th> Canvassed  </th>
          <th> Total Students </th>
        </tr>
        {% for key, value in num_canvassed.items %}
          <tr>
            <td>{{key}}</td>
           {% for v in value %}
            <td>{{v}}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>


  <div class="col-md-3">
      <h3 class = "page-header" style= "margin-bottom: 1px;" >Volunteers</h3>
      
      <div id="custom-search-input" class="input-group smoothened volunteer-add-button">
        <input type="text" id='username-input' class="form-control input-lg" placeholder="Add Volunteer Netid" style='float: none'/>
        <br>
        <span class="input-group-btn ">
          <button class="btn btn-info btn-lg" type="submit" style = "padding-top: 13px; padding-bottom: 11px; " id='add-volunteer-btn'>
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </span>
      </div>
      <div class="alert alert-danger alert-dismissable warningBox secret-alert" id='badname'>
        <strong id="badname-text"></strong>
      </div>
      
      <div style = "margin-top: 10px; text-align: center; ">
        {%for name in volunteers%}
        <div class="volunteer-name-list">{{ name }}</div>
        {% endfor %}
      </div>
  </div>
</div>
{% endblock %}
