{% extends "base.html" %}
{% block content %}
{% load static %}

<!-- BEGIN DATATABLES.NET IMPORT STATEMENTS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"/>


<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.13/af-2.1.3/b-1.2.4/b-colvis-1.2.4/b-html5-1.2.4/b-print-1.2.4/cr-1.3.2/fh-3.1.2/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.0/datatables.min.js"></script>
<!-- END DATATABLES.NET IMPORT STATEMENTS -->

<script>
$(document).ready(function() {
  var checkout = "{{checkout}}";
  console.log("checout follows");
  console.log(checkout);

  var campaign_id = (window.location.pathname).split("/")[2];
  var netid = (window.location.pathname).split("/")[3];
  $("#year_picker").val("{{targetted_years}}");

  if (checkout != ""){
    console.log("nonnull checkout");
    $.ajax({
        url: "/search_by_ids/",
        context: document.body,
        "data": {
          "ids": checkout,
          "campaign_id": (window.location.pathname).split("/")[2]
        },
        type: 'POST',
        success: function(res){
          if(res['error'] == 'room search failed'){
            console.log('room search failed');
            $('error-message').html("Room search failed");
          }
          else{ // success!
            if (typeof table !== 'undefined'){
              table.destroy();}
            table = $('#search-results').DataTable( {
              "paging":   false,
              "ordering": false,
              "language": {
                "emptyTable": "No students match this description!"
              },
              "info":     false,
              "searching": false,
              data: res['results'],
              columns: [
                  { title: "Dorm" },
                  { title: "Name" },
                  { title: "Canvass"}
              ]
            } );
            $('#search-results tbody').on( 'click', 'button', function() {
                console.log("You clicked the button");
            });
          }
            // window.location = res['url'];
        },
        error: function(){
            console.log("room search error");
        }
    });
  }
  else{
    console.log("null checkout");
  }

  $("#find-students").click(function(){
  $.ajax({
      url: "/search/",
      context: document.body,
      "data": {
        "res_college": $("#res_college_picker").val(),
        "floor": $("#floor_picker").val(),
        "hallway": $("#hallway_picker").val(),
        "abbse": $("#abbse_picker").val(),
        "year": $("#year_picker").val(),
        "count": $("#count_picker").val(),
        "campaign_id": (window.location.pathname).split("/")[2]
      },
      type: 'POST',
      success: function(res){
        if(res['error'] == 'room search failed'){
          console.log('room search failed');
          $('error-message').html("Room search failed");
        }
        else{ // success!
          if (typeof table !== 'undefined'){
            table.destroy();}
          table = $('#search-results').DataTable( {
            "paging":   false,
            "ordering": false,
            "language": {
              "emptyTable": "No students match this description!"
            },
            "info":     false,
            "searching": false,
            data: res['results'],
            columns: [
                { title: "Dorm" },
                { title: "Name" },
                { title: "Canvass"}
            ]
          } );
          $('#search-results tbody').on( 'click', 'button', function() {
              console.log("You clicked the button");
          });
        }
          // window.location = res['url'];
      },
      error: function(){
          console.log("room search error");
      }
  });
});

$("#res_college_picker").on('change', function() {
  if ($(this).val() == 'Butler'){
    $("#hallway_picker_div").html("<select class=\'dropdown form-control picker\' name=\'hallway_picker\' id=\'hallway_picker\'><option value=\'any\'>any</option><option value=\'bogle\'>bogle</option><option value=\'yoseloff\'>yoseloff</option><option value=\'1976\'>1976</option><option value=\'1915\'>1915</option><option value=\'1967\'>1967</option><option value=\'emma\'>emma</option><option value=\'bloomberg\'>bloomberg</option><option value=\'wilf\'>wilf</option></select>");
  } else  if ($(this).val() == 'Mathey'){
    $("#hallway_picker_div").html("<select class=\'dropdown form-control picker\' name=\'hallway_picker\' id=\'hallway_picker\'><option value=\'any\'>any</option><option value=\'blair\'>blair</option><option value=\'campbell\'>campbell</option><option value=\'edwards\'>edwards</option><option value=\'hamilton\'>hamilton</option><option value=\'joline\'>joline</option><option value=\'little\'>little</option></select>");
  } else  if ($(this).val() == 'Whitman'){
    $("#hallway_picker_div").html("<select class=\'dropdown form-control picker\' name=\'hallway_picker\' id=\'hallway_picker\'><option value=\'any\'>any</option><option value=\'1981\'>1981</option><option value=\'wendell\'>wendell</option><option value=\'fisher\'>fisher</option><option value=\'hargadon\'>hargadon</option><option value=\'lauritzen\'>lauritzen</option><option value=\'baker\'>baker</option><option value=\'murley\'>murley</option></select>");
  } else  if ($(this).val() == 'Wilson'){
    $("#hallway_picker_div").html("<select class=\'dropdown form-control picker\' name=\'hallway_picker\' id=\'hallway_picker\'><option value=\'any\'>any</option><option value=\'1927\'>1927</option><option value=\'1937\'>1937</option><option value=\'1938\'>1938</option><option value=\'1939\'>1939</option><option value=\'dodge\'>dodge</option><option value=\'feinburg\'>feinburg</option><option value=\'gauss\'>gauss</option><option value=\'walker\'>walker</option><option value=\'wilcox\'>wilcox</option></select>");
  } else  if ($(this).val() == 'Rocky'){
    $("#hallway_picker_div").html("<select class=\'dropdown form-control picker\' name=\'hallway_picker\' id=\'hallway_picker\'><option value=\'any\'>any</option><option value=\'buyers\'>buyers</option><option value=\'campbell\'>campbell</option><option value=\'holder\'>holder</option><option value=\'witherspoon\'>witherspoon</option></select>");
  } else  if ($(this).val() == 'Forbes'){
    $("#hallway_picker_div").html("<select class=\'dropdown form-control picker\' name=\'hallway_picker\' id=\'hallway_picker\'><option value=\'any\'>any</option><option value=\'addition\'>addition</option><option value=\'main\'>main</option></select>");
  } else  if ($(this).val() == 'Upperclass'){
    $("#hallway_picker_div").html("<select class=\'dropdown form-control picker\' name=\'hallway_picker\' id=\'hallway_picker\'><option value=\'any\'>any</option><option value=\'lockhart\'>lockhart</option><option value=\'foulke\'>foulke</option><option value=\'henry\'>henry</option><option value=\'pyne\'>pyne</option><option value=\'1901\'>1901</option><option value=\'laughlin\'>laughlin</option><option value=\'little\'>little</option><option value=\'dod\'>dod</option><option value=\'brown\'>brown</option><option value=\'cuyler\'>cuyler</option><option value=\'1903\'>1903</option><option value=\'spelman\'>spelman</option><option value=\'patton\'>patton</option><option value=\'wright\'>wright</option><option value=\'2 dickinson street\'>2 dickinson street</option><option value=\'99 alexander street\'>99 alexander street</option><option value=\'witherspoon street\'>witherspoon street</option></select>");
  } else  if ($(this).val() == 'Eating Club'){
    $("#hallway_picker_div").html("<select class=\'dropdown form-control picker\' name=\'hallway_picker\' id=\'hallway_picker\'><option value=\'any\'>any</option><option value=\'colonial club\'>colonial club</option><option value=\'charter club\'>charter club</option><option value=\'terrace club\'>terrace club</option><option value=\'ivy club\'>ivy club</option><option value=\'cottage club\'>cottage club</option><option value=\'cap and gown club\'>cap and gown club</option><option value=\'tiger inn\'>tiger inn</option><option value=\'quadrangle club\'>quadrangle club</option><option value=\'tower club\'>tower club</option><option value=\'cannon club\'>cannon club</option></select>");
  }
});
});
</script>

<container>
  <div class="col-lg-12 center">
    <h2 class="page-header">Canvass It!</h2>
  </div>
<div class="container-fluid text-center">
  <div class="content">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h3 class = "font-size-tho"> Show me
            <select class="dropdown form-control picker font-size-tho" name="count_picker" id="count_picker">
              <option class = "font-size-tho" value="3">3</option>
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="every">every</option>
            </select>
            students who live in
              <select class="dropdown form-control picker font-size-tho enlarge" name="res_college_picker" id="res_college_picker">
                <option class = "font-size-tho" value="Butler">Butler</option>
                <option value="Mathey">Mathey</option>
                <option value="Whitman">Whitman</option>
                <option value="Wilson">Wilson</option>
                <option value="Rocky">Rocky</option>
                <option value="Forbes">Forbes</option>
                <option value="Upperclass">Upperclass</option>
                <option value="Eating Club">Eating Club</option>
              </select>
            on floor
            <select class="dropdown form-control picker font-size-tho" name="floor_picker" id="floor_picker">
                <option value="any">any</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
              </select>
              in hallway
              <div id="hallway_picker_div" style="display: inline">
                <select class='dropdown form-control picker font-size-tho' name='hallway_picker' id='hallway_picker'><option value="any">any</option><option value='bogle'>bogle</option><option value='yoseloff'>yoseloff</option><option value='1976'>1976</option><option value='1915'>1915</option><option value='1967'>1967</option><option value='emma'>emma</option><option value='bloomberg'>bloomberg</option><option value='wilf'>wilf</option></select>
              </div>
              and are
              <select class="dropdown form-control picker font-size-tho" name="abbse_picker" id="abbse_picker">
                <option value="AB/BSE">AB / BSE</option>
                <option value="AB">AB</option>
                <option value="BSE">BSE</option>
              </select>
              students of the class
              <select class="dropdown form-control picker font-size-tho" name="year_picker" id="year_picker">
                <option value="any">of any year</option>
                <option value="2020">2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
              </select>
            </h3>
            <a class="button btn ss-button bottom-button larg-btn" id="find-students" style="margin-bottom: 40px">Find Students!</a>
        </div>
      </div>
    </div>


<!-- begin HTML search result table -->
<div class="col-sm-9 col-sm-offset-1 margins" >
  <!-- Got rid of class = responsive because it was chopping off half the table in mobile mode -->
  <table id="search-results" class='hover center-table' width='100%' border="1" text-align="center">
  </table>
</div>
<div id="error-message">
</div>
<div class="col-sm-10 col-sm-offset-1">
  <p style = "margin-top: 10px">Thank you for helping {{ title }}.</p>
</div>


<!-- end HTML search result table -->

</div>
{% endblock %}
