{% extends "base.html" %}
{% block content %}

<script>
$(document).ready(function() {
    $(".drop-campaign").click(function(){
    console.log(($(this).attr("class").split(' ')).slice(-2)[0]);
    })

    $("#join-new-campaign-btn").click(function(){
    console.log("test");
    $.ajax({
        url: "/join-new-campaign/",
        context: document.body,
        "data": {
            "code": $("#code-input").val(),
        },
        type: 'POST',
        success: function(res){
            //change to dashboard later
            window.location.reload() 
        },
        error: function(){
            console.log("error");
        }
    });
})
});
</script>


<div class="container">
    <div class="col-lg-12 center">
        <h2 class="page-header">Your Current Campaigns:</h2>
    </div>
    <div class="[ col-xs-12 col-md-12]" >
        <div class="[ form-group ]" style = "margin-bottom: 30px;">
            <center><table>
            {% for my_campaign in my_campaigns %}
                <tr>
                    <td> {{ my_campaign.title }} </td>
                    <td>&nbsp;&nbsp;</td>
                    <td> <a  style='margin-bottom: 4px' class="btn btn-default campaign " href= {{ my_campaign.url }} > Go </a> </td>
                </tr>
            {% endfor %}
            </table></center>
        </div>
    </div>
</div>
<div class="col-lg-12 center">
    <h2 class="page-header">Join a New Campaign:</h2>
</div>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="container">
            <div class="col-sm-12">
                <div id="custom-search-input" class="input-group col-md-6 col-sm-offset-3">
                    <input type="text" id='code-input' class="form-control input-lg" placeholder="Type in the Campaign Key..." style='float: none'/>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="submit" id='join-new-campaign-btn'>
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
