{% extends "base.html" %}
{% block content %}

<script>
$(document).ready(function() {
    $(".drop-campaign").click(function(){
    console.log(($(this).attr("class").split(' ')).slice(-2)[0]);
    })

    $("#join-new-campaign-btn").click(function(){
    console.log("test");
    $.ajax({
        url: "/join-new-campaign/",
        context: document.body,
        "data": {
            "code": $("#code-input").val(),
        },
        type: 'POST',
        success: function(res){
            //change to dashboard later
            window.location.reload() 
        },
        error: function(){
            console.log("error");
        }
    });
})
});
</script>

<div class="container">
    <div class="col-lg-12 center">
        <h2 class="page-header">Your Current Campaigns:</h2>
    </div>
    <div class="[ col-xs-12 col-md-12]" >
        <div class="[ form-group ]" style = "margin-bottom: 30px;">
            {% for my_campaign in my_campaigns %}
                <div class="btn btn-default active campaign">
                    <a href= {{ my_campaign.url }} > {{ my_campaign.title }} </a>
                </div>
               <!--  <label for="fancy-checkbox-default" class="btn btn-default link-list drop-campaign id-{{ my_campaign.id }}">
                    <span class="[ glyphicon glyphicon-trash ]"></span>
                </label> -->
                <br />
            {% endfor %}
        </div>
    </div>
</div>
<div class="col-lg-12 center">
    <h2 class="page-header">Join a New Campaign:</h2>
</div>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="container">
            <div class="col-sm-10 col-sm-offset-1">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" id='code-input' class="form-control input-lg" placeholder="Type in the Campaign Key..." />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="submit" id='join-new-campaign-btn'>
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
