body {
  text-align: center;
}
a.button-submit {
    border: none;
    padding: 15px 85px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    border-radius: 25px;
    color: white;
    background-color: #5bc0de;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}
a.button-help {
  margin-top: 10px;
  border: none;
  padding: 5px 14px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 25px;
  color: #9d9d9d;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}
a.button-signup {
    margin-top: 10px;
    border: none;
    padding: 5px 35px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 25px;
    color: #9d9d9d;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 0px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{

    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #9d9d9d;
    background-color: black;
    padding: 20px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 400;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}




/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.container {
  padding: 50px 10px 50px 10px;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}
.page-header {
  color = gray;
}
/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}
button {
  padding : 0px 300px 0px 300px

}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}

.left {
  text-align: left;
}

.link-list {
  margin-bottom: 2px;
}

.secret-alert{
  display: none;
}

.warningBox{
    background-color: #df2c2c;
    color: white;
  }
.picker{
  display: inline;
  width: 12.5%;
  padding: 4px 0px;
  margin-bottom: 4px;
}