body {
  text-align: center;
}
a.button-submit {
    border: none;
    padding: 15px 85px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    border-radius: 25px;
    color: white;
    background-color: #5bc0de;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}
a.button-help {
  margin-top: 10px;
  border: none;
  padding: 5px 14px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 25px;
  color: #9d9d9d;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}
a.button-signup {
    margin-top: 10px;
    border: none;
    padding: 5px 35px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 25px;
    color: #9d9d9d;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 0px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{

    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #9d9d9d;
    background-color: black;
    padding: 20px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 400;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}




/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.container {
  padding: 50px 10px 50px 10px;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}
.page-header {
  color = gray;
}
/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}
button {
  padding : 0px 300px 0px 300px

}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}

.left {
  text-align: left;
}

.link-list {
  margin-bottom: 2px;
}

.secret-alert{
  display: none;
}

.warningBox{
    background-color: #df2c2c;
    color: white;
  }

@media screen and (min-width: 767px) {
  .picker{
    display: inline;
    width: 12.5%;
    padding: 4px 0px;
    margin-bottom: 4px;
  }
}
@media screen and (max-width: 767px) {
  .picker{
    display: inline;
    padding: 4px 0px;
    margin-bottom: 4px;
  }
  .canvassBtn.ss-button{
    width: 100%
  }
}

.volunteer-name-list{
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
  padding-top: 30px;
}

@media screen and (max-width: 500px) {
  .control__indicator {
    position: absolute;
    top: 0px; /*2px*/
    left: 0;
    width: 20px;
    height: 20px;
    background: #e6e6e6;
  }
  .control {
    color: gray;
    font-weight: normal;
    font-size: 15px;
    position: relative;
    /*display: block;*/
    margin-bottom: 10px;
    padding-left: 30px;
    cursor: pointer;
  }
  .font-size-tho {
    font-size: 13px;
  }
  .manager {
    width: 50%;
    margin-left: 25%;
  }
  .small-show {
    display: block;
  }
  .small-hid {
    display: none;
  }
  .top-button {

  }
  .top-header {

  }

  .campaign{
    padding-left: 20px;
    padding-right: 20px;
    color: gray;
    font-weight: normal;
    width: 30px;
  }
.clean-look {
  margin-bottom: 10px;
  font-size: 10;
  resize: vertical;
  }
  .ss-button {
    background-color: #5bc0de;
    width: 75%;
    font-size: 9px;
    table-layout: fixed;
    color: white;
    font-weight: normal;
    margin-bottom: 15px;
  }
  .enlarge {

  }
  .smoothened {
    margin-top: 10px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
  }
  .volunteer{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    width: 50px;

  }
  .larg-btn{
    font-size: 14px;
  }
}

@media screen and (min-width: 500px) {
  .smoothened {
    margin-top: 40px;
    /*margin-left: 10%;*/
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
  }

  .center-table{
    text-align: center;
  }
  .manager {
    width: 75%;
    margin-left: 12%;
  }
  .small-show {
    display: none;
  }
  .clean-look {
    margin-bottom: 10px;

  }
  .ss-button {
    background-color: #5bc0de;
    width: 80%;
    /*table-layout: fixed;*/
    color: white;
    font-weight: normal;
    font-size: large;
    margin: 10px;
  }
  .top-header {
    margin-top: 80px;
  }
  .top-button {
    margin-top: 75px;
  }

  .campaign{
    padding-left: 24px;
    padding-right: 24px;
    color: gray;
    font-weight: normal;
    width: 100px;
  }
  .margins{
    margin-left: 12%;
  }
  .volunteer {
    font-size: 13px;
  }
  #radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}
}



.clean-box {
  border:1px;
  border-style:solid;
  border-color:#eee;
  border-radius: 5px;
  color: gray;
  padding: 10%;
  padding-top: 5%;
  table-layout: fixed;
  text-align: center;
  margin-bottom: 5px;
}

.login-title-2
{
    color: white;
    background-color: #5bc0de;
    padding: 20px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 400;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.clean-submit {
  background-color: #f7f7f7;
}
.edit {
  width: 90%;
  margin-left: 5%;
}

.clean-volunteer {
  background-color: #5bc0de;
  width: 200px;
  text-align:center;
  /*table-layout: fixed;*/
  color: white;
  font-weight: normal;
  font-size: large;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  /*outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;*/
}
.btn:hover,
.btn:focus,
.btn.focus {
  background-color: #51acc7;
  text-decoration: none;
  color: white;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.padding {
  padding-top: 10px;
}
.button1{
    width: 38%;
}

.button2{
  width: 40%;
}
.padded {
  font-size: 16px;
  padding-left: 5%;
  padding-right: 5%;
}
.form-style {
  font-size: 14px;
  color: gray;
  font-weight: bold;
}